{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Next Gen - About</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

  </head>

  <body background='{% static "img/bg-card.jpg" %}'>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:60px">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src='{% static "img/logo.png" %}' height='40px' width='200px'></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
                <li class="nav-item">
              <a class="nav-link" href="shop">
                Store
              </a>
             
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services">Services</a>
            </li>
           
           
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
           
            
          
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid ml-4  ">
      <br><br><br>
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About <br>
        <small>Next Gen Technologies</small>
      </h1>

      
      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-8">
          <img class="img-fluid rounded mb-4" src="{% static 'img/Nextgencover.jpg' %}" height=500px alt="gadgets technology">
        
          <p><strong>In this world of emerging technologies, we insist you to be updated with the latest informations so that you can utilize it or atleast be aware of it. Knowing about what 21st century has to offer would do you no harm. Making your life easier with innovations is our primary goal.</p>
          <p>Moreover, its not just about providing informations. We are here to deliver the innovations and technologies in your footsteps.</p>
          <p>From Computing Systems to Survillence systems, From Office Equipments to Home Appliances & From smartphone gadgets to high end drones and technologies, We're at your service.</strong></p>
           <h2>Our Content Creators</h2>
      <div class="row">
        <div class="col-lg-3 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-3 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-3 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-3 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        
      </div>        
        </div>

      
      <!-- /.row -->

      <!-- Team Members -->
      <div class="col-lg-3">
      <h2>Our Team</h2>
       

     
          <div class="card h-6 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Dipesh Maharjan</h4>
              <h6 class="card-subtitle mb-2 text-muted">Managing Director</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">mrzndipesh@gmail.com</a>
            </div>
          </div>
          
        
        
          <div class="card h-6 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Bittu Maharjan</h4>
              <h6 class="card-subtitle mb-2 text-muted">Graphics Designer</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
    

          <div class="card h-6 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
              <h4 class="card-title">Sushil Maharjan</h4>
              <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
              <p class="card-text"></p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
      
      </div>
      <!-- /.row -->

      <!-- Our Customers -->
      
      
      <!-- /.row -->
</div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Next Gen Technologies 2019<br>Mahalaxmi-05, Lalitpur</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
