{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electro Store - Next Gen Technologies</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">


  </head>

  <body  background="{% static 'img/bg.jpg' %}">

    <!-- Navigation -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:60px">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src='{% static "img/logo.png" %}' height='40px' width='200px'></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
              <a class="nav-link" href="shop">
                Store
              </a>
             
            </li>
             <li class="nav-item">
              <a class="nav-link" href="blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
           
           
           
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">

      <div class="row ">

        <div class="col-lg-2">

          <div class="container-fluid">
          

          <h1 class="my-4"><img src="{% static 'img/logonew.jpg'%}" style="height:60px" alt="Electro Store"></h1>
          
          <div class="list-group">
            <ul>
            {% for category in categories %}
            
              <li class="list-group-item" data-toggle="collapse" data-target="#category{{category.id}}" >{{category}}</li>
                <div id="category{{category.id}}" class="collapse">
                  {% for subcategory in category.reference.all %}
                    <a class="dropdown-content" href="{% url 'subcategory' subcategory.id %}">{{subcategory}}</a>

                  {% endfor %}
                </div>
              {% endfor %}
              </ul>
            </div>

            
         
                
            
             
              
   
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-10">

          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

              <div class="carousel-item active">
                <img class="d-block img-fluid" src="{% static 'slider/img/desk.jpg' %}" style="height:350px, margin= 0" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="{% static 'slider/img/escover.jpg' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="{% static 'slider/img/service1.jpg' %}" alt="Third slide">
              </div>
               <div class="carousel-item">
                <img class="d-block img-fluid" src="{% static 'slider/img/services2.jpg' %}" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="{% static 'slider/img/service3.jpg' %}" alt="Third slide">
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="row">
             {% for products in products %}
    <h1></h1>
<p>
    
         <div class="col-lg-3 col-md-6 mb-4">
              <div class="card h-10">
                    {% for img in products.reference.all %}
                <a href="shop-item/{{products.productId}}"><img class="card-img-top" src="{{ img.image.url }}" height=200px alt="{{ img.title }}" alt=""></a>
                {% endfor %}
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{% url 'details' products.id %}">{{products.productName}}</a>
                  </h4>
                  <h5>NPR. {{products.productPrice}}</h5>
                  <p class="card-text">{{products.productDesc | truncatechars:30}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

       
{% endfor %}

           

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Next Gen Technologies 2019</p>
      </div>
      <!-- /.container -->
    </footer>
  
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
